# Ignore dataset folders for both modules
Classification/dataset/
Detection/dataset/
Detection/synthetic_data_aug/house_room_background
Detection/synthetic_data_aug/can 
Detection/synthetic_data_aug/detergent
Detection/synthetic_data_aug/bottle
Detection/synthetic_data_aug/fruit
Detection/synthetic_data_aug/seafood
Detection/synthetic_data_aug/pulses